@charset "UTF-8";
@font-face {
  font-family: 'Rubik';
  src: url("../Fonts/Rubik/static/Rubik-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EB_Garamond';
  src: url("../Fonts/EB_Garamond/static/EBGaramond-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../Fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
}

.landing-page {
  position: relative;
}

.sector-1 {
  background-image: url("../Images/Background.png");
  background-size: cover;
  height: 1015px;
  width: 1920px;
}

.sector-1 .logo-sec {
  margin-left: 300px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-1 .logo-sec .pers {
  color: white;
  text-decoration: none;
  padding-left: 80px;
  font-size: 22px;
  padding-top: 8px;
}

.sector-1 .logo-sec .pers:link {
  color: #fff;
  text-decoration: underline;
}

.sector-1 .logo-sec .pers:active {
  color: #FE5F55;
  text-decoration: underline;
}

.sector-1 .logo-sec .pers:visited {
  color: #FE5F55;
  text-decoration: underline;
}

.sector-1 .logo-sec .bus {
  color: white;
  text-decoration: none;
  padding-left: 40px;
  font-size: 22px;
  padding-top: 8px;
}

.sector-1 .logo-sec .bus:link {
  color: #fff;
  text-decoration: none;
}

.sector-1 .logo-sec .bus:active {
  color: #FE5F55;
  text-decoration: underline;
}

.sector-1 .languages {
  text-align: right;
  margin-top: -10px;
  font-size: 18px;
  margin-left: auto;
  margin-right: 360px;
}

.sector-1 .languages .ru {
  padding-right: 10px;
  color: white;
  text-decoration: none;
}

.sector-1 .languages .ru:link {
  color: #fff;
  text-decoration: none;
}

.sector-1 .languages .ru:active {
  color: #FE5F55;
  text-decoration: none;
}

.sector-1 .languages .ru:visited {
  color: #FE5F55;
  text-decoration: none;
}

.sector-1 .languages .kz {
  padding-right: 10px;
  color: white;
  text-decoration: none;
}

.sector-1 .languages .kz:link {
  color: #fff;
  text-decoration: none;
}

.sector-1 .languages .kz:active {
  color: #FE5F55;
  text-decoration: none;
}

.sector-1 .languages .en {
  padding-right: 10px;
  color: white;
  text-decoration: none;
}

.sector-1 .languages .en:link {
  color: #fff;
  text-decoration: none;
}

.sector-1 .languages .en:active {
  color: #FE5F55;
  text-decoration: none;
}

.sector-1 .menu-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 268px;
}

.sector-1 .menu-sec .menu-ul {
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-top: 40px;
  font-size: 20px;
  text-transform: uppercase;
}

.sector-1 .menu-sec .menu-ul .hidden {
  visibility: hidden;
}

.sector-1 .menu-sec .menu-ul img {
  padding-left: 10px;
  padding-bottom: 5px;
}

.sector-1 .menu-sec .menu-ul .arrow-d:hover .hidden {
  visibility: visible;
}

.sector-1 .menu-sec .menu-ul li {
  padding-right: 40px;
}

.sector-1 .menu-sec .menu-ul li a {
  color: white;
  text-decoration: none;
}

.sector-1 .menu-sec .call-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 360px;
}

.sector-1 .menu-sec .call-sec .tel {
  color: white;
  font-size: 40px;
  font-weight: 700;
  padding-right: 35px;
  text-align: right;
}

.sector-1 .menu-sec .call-sec .tel::after {
  display: block;
  margin-top: -12px;
  content: "Бесплатно с мобильных";
  font-size: 15px;
  font-weight: 400;
}

.sector-1 .menu-sec .call-sec .bank {
  border: 1px solid #FE5F55;
  border-radius: 5px;
  background-color: #FE5F55;
  color: white;
  height: 50px;
  margin-top: 15px;
  width: 175px;
  font-size: 20px;
}

.sector-1 .menu-sec .call-sec .bank a {
  color: white;
  text-decoration: none;
}

.sector-1 .title-sec {
  margin-left: 300px;
  margin-top: 70px;
}

.sector-1 .title-sec .title-1 {
  font-size: 60px;
  font-family: 'Rubik';
  text-transform: uppercase;
  font-weight: 800;
  font-style: normal;
  background: -webkit-gradient(linear, left top, right top, from(#6C6D6E), color-stop(#ffffff), color-stop(#ffffff), to(#ffffff));
  background: linear-gradient(to right, #6C6D6E, #ffffff, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sector-1 .title-sec .title-1 .tit-2 {
  display: block;
}

.sector-1 .title-sec .title-2 {
  margin-top: 55px;
  font-size: 20px;
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  background: -webkit-gradient(linear, left top, right top, from(#6C6D6E), color-stop(#ffffff), color-stop(#ffffff), color-stop(#ffffff), color-stop(#ffffff), to(#ffffff));
  background: linear-gradient(to right, #6C6D6E, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sector-1 .title-sec .title-2 .tit-4 {
  display: block;
}

.sector-1 .title-sec .more {
  padding-top: 35px;
  font-size: 18px;
}

.sector-1 .title-sec .more a {
  color: #A8A8A8;
}

.sector-1 .title-sec .order {
  display: inline-block;
}

.sector-1 .title-sec .order .card {
  margin-top: 100px;
  width: 255px;
  height: 56px;
  border: 1px solid #FE5F55;
  border-radius: 5px;
  background-color: #FE5F55;
  font-size: 20px;
}

.sector-1 .title-sec .order .card a {
  color: white;
  text-decoration: none;
}

.sector-1 .title-sec .order .card-order {
  display: inline-block;
  font-size: 18px;
  margin-left: 32px;
  background: -webkit-gradient(linear, left top, right top, from(#FE5F55), to(#FFB2AE));
  background: linear-gradient(to right, #FE5F55, #FFB2AE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #FE5F55;
}

.sector-1 .title-sec .slider {
  margin-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-1 .title-sec .slider .c1 {
  border: 1px solid #Fff;
  border-radius: 5000px;
  height: 10px;
  width: 10px;
  background-color: #Fff;
  margin-right: 16px;
}

.sector-1 .title-sec .slider .c1:hover {
  border: 1px solid #FE5F55;
  border-radius: 5000px;
  height: 20px;
  width: 20px;
  background-color: #FE5F55;
  margin-top: -5px;
  cursor: pointer;
}

.sector-1 .title-sec .slider .c2 {
  border: 1px solid #Fff;
  border-radius: 5000px;
  height: 10px;
  width: 10px;
  background-color: #Fff;
  margin-right: 16px;
  cursor: pointer;
}

.sector-1 .title-sec .slider .c2:hover {
  border: 1px solid #FE5F55;
  border-radius: 5000px;
  height: 20px;
  width: 20px;
  background-color: #FE5F55;
  margin-top: -5px;
}

.sector-1 .title-sec .slider .c3 {
  border: 1px solid #Fff;
  border-radius: 5000px;
  height: 10px;
  width: 10px;
  background-color: #Fff;
  margin-right: 16px;
}

.sector-1 .title-sec .slider .c3:hover {
  border: 1px solid #FE5F55;
  border-radius: 5000px;
  height: 20px;
  width: 20px;
  background-color: #FE5F55;
  margin-top: -5px;
  cursor: pointer;
}

.sector-1 .title-sec .slider .c4 {
  border: 1px solid #Fff;
  border-radius: 5000px;
  height: 10px;
  width: 10px;
  background-color: #Fff;
  margin-right: 16px;
}

.sector-1 .title-sec .slider .c4:hover {
  border: 1px solid #FE5F55;
  border-radius: 5000px;
  height: 20px;
  width: 20px;
  background-color: #FE5F55;
  margin-top: -5px;
  cursor: pointer;
}

.sector-1 .title-sec .slider .c5 {
  border: 1px solid #Fff;
  border-radius: 5000px;
  height: 10px;
  width: 10px;
  background-color: #Fff;
  margin-right: 16px;
}

.sector-1 .title-sec .slider .c5:hover {
  border: 1px solid #FE5F55;
  border-radius: 5000px;
  height: 20px;
  width: 20px;
  background-color: #FE5F55;
  margin-top: -5px;
  cursor: pointer;
}

.sector-2 {
  background-image: url("../Images/background-2.png");
  background-size: cover;
  height: 767px;
  width: 1920px;
  position: relative;
}

.sector-2 .phone-back {
  background-image: url("../Images/phone.png");
  width: 959px;
  height: 719px;
  background-repeat: no-repeat;
  left: auto;
  right: 190px;
  top: 49px;
  position: absolute;
  z-index: 1;
}

.sector-2 .info-sec {
  margin-left: 300px;
  padding-top: 145px;
}

.sector-2 .info-sec .app {
  text-transform: uppercase;
  font-size: 44px;
  font-family: 'Rubik';
  font-weight: 600;
}

.sector-2 .info-sec .dop-1 {
  font-family: 'Rubik';
  padding-top: 10px;
  display: block;
  font-size: 25px;
}

.sector-2 .info-sec .dop-2 {
  font-family: 'Rubik';
  display: block;
  font-size: 25px;
}

.sector-2 .img-sec {
  margin-left: 300px;
  padding-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-2 .img-sec .text-sec-1 {
  display: block;
  font-weight: 600;
  padding-top: 19px;
}

.sector-2 .img-sec .text-sec-2 {
  display: block;
  font-weight: 600;
}

.sector-2 .img-sec .img-sec-2 {
  padding-left: 62px;
}

.sector-2 .img-sec .img-sec-2 .text-sec-3 {
  display: block;
  font-weight: 600;
  padding-top: 19px;
}

.sector-2 .img-sec .img-sec-2 .text-sec-4 {
  display: block;
  font-weight: 600;
}

.sector-2 .img-sec .img-sec-3 {
  padding-left: 62px;
}

.sector-2 .img-sec .img-sec-3 .text-sec-5 {
  display: block;
  font-weight: 600;
  padding-top: 19px;
}

.sector-2 .img-sec .img-sec-3 .text-sec-6 {
  display: block;
  font-weight: 600;
}

.sector-2 .buttons-sec {
  margin-left: 290px;
  padding-top: 68px;
}

.sector-2 .descript {
  margin-left: 300px;
  margin-top: 37px;
  width: 288px;
  height: 56px;
  border: 1px solid #FE5F55;
  background-color: #FE5F55;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}

.sector-3 {
  height: 583px;
  width: 1920px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-3 .block-1 {
  margin-left: 300px;
  padding-top: 73px;
}

.sector-3 .block-1 .transit {
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Rubik';
  font-weight: 600;
}

.sector-3 .block-1 .transit-2 {
  color: #A8A8A8;
  display: block;
  font-size: 20px;
  font-family: 'EB_Garamond' sans-serif;
  padding-bottom: 49px;
}

.sector-3 .block-1 .pic-sec-1 {
  position: relative;
  display: inline;
  cursor: pointer;
}

.sector-3 .block-1 .pic-sec-1 .vec-1 {
  position: absolute;
  z-index: 1;
  margin-top: -80px;
  margin-left: 40px;
}

.sector-3 .block-1 .pic-sec-1:hover {
  -webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
  filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
}

.sector-3 .block-1 .pic-sec-2 {
  position: relative;
  display: inline;
  padding-left: 118px;
  cursor: pointer;
}

.sector-3 .block-1 .pic-sec-2 .vec-2 {
  position: absolute;
  z-index: 1;
  margin-top: -80px;
  margin-left: 288px;
}

.sector-3 .block-1 .pic-sec-2:hover {
  -webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
  filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
}

.sector-3 .block-1 .pic-sec-3 {
  position: relative;
  display: inline;
  padding-left: 118px;
  cursor: pointer;
}

.sector-3 .block-1 .pic-sec-3 .vec-3 {
  position: absolute;
  z-index: 1;
  margin-top: -80px;
  margin-left: 524px;
}

.sector-3 .block-1 .pic-sec-3:hover {
  -webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
  filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
}

.sector-3 .block-1 .t-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-3 .block-1 .t-sec .t1 {
  display: block;
  padding-top: 28px;
}

.sector-3 .block-1 .t-sec .t2, .sector-3 .block-1 .t-sec t3 {
  display: block;
}

.sector-3 .block-1 .t-sec .t-sec-2 {
  padding-top: 28px;
  padding-left: 35px;
}

.sector-3 .block-1 .t-sec .t-sec-2 .t5, .sector-3 .block-1 .t-sec .t-sec-2 .t6, .sector-3 .block-1 .t-sec .t-sec-2 .t7 {
  display: block;
}

.sector-3 .block-1 .t-sec .t-sec-2 .t6, .sector-3 .block-1 .t-sec .t-sec-2 .t7 {
  color: #999;
  font-size: 13px;
}

.sector-3 .block-1 .t-sec .t-sec-3 {
  padding-top: 28px;
  padding-left: 75px;
}

.sector-3 .block-1 .t-sec .t-sec-3 .t8, .sector-3 .block-1 .t-sec .t-sec-3 .t9 {
  display: block;
}

.sector-3 .block-1 .perev {
  width: 265px;
  height: 56px;
  margin-top: 63px;
  border: 1px solid #FE5F55;
  border-radius: 5px;
  background-color: #FE5F55;
  font-size: 18px;
  color: white;
}

.sector-3 .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-3 .block-2 {
  padding-top: 73px;
  margin-left: 165px;
}

.sector-3 .block-2 .course {
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Rubik';
  font-weight: 600;
}

.sector-3 .block-2 .ex-date {
  color: #A8A8A8;
  display: block;
  font-size: 20px;
  font-family: 'EB_Garamond' sans-serif;
}

.sector-3 .block-2 .string-1 {
  padding-top: 28px;
}

.sector-3 .block-2 .string-1 .val {
  font-size: 15px;
  color: #7C7C7C;
}

.sector-3 .block-2 .string-1 .eur {
  padding-top: 27px;
  font-size: 20px;
  font-weight: 600;
}

.sector-3 .block-2 .string-1 .eur span {
  padding-left: 17px;
}

.sector-3 .block-2 .string-1 .eur span, .sector-3 .block-2 .string-1 .eur img {
  vertical-align: middle;
}

.sector-3 .block-2 .string-1 .usd {
  padding-top: 27px;
  font-size: 20px;
  font-weight: 600;
}

.sector-3 .block-2 .string-1 .usd span {
  padding-left: 17px;
}

.sector-3 .block-2 .string-1 .usd span, .sector-3 .block-2 .string-1 .usd img {
  vertical-align: middle;
}

.sector-3 .block-2 .string-1 .rub {
  padding-top: 27px;
  font-size: 20px;
  font-weight: 600;
}

.sector-3 .block-2 .string-1 .rub span {
  padding-left: 17px;
}

.sector-3 .block-2 .string-1 .rub span, .sector-3 .block-2 .string-1 .rub img {
  vertical-align: middle;
}

.sector-3 .block-2 .string-1 .gbp {
  padding-top: 27px;
  font-size: 20px;
  font-weight: 600;
}

.sector-3 .block-2 .string-1 .gbp span {
  padding-left: 17px;
}

.sector-3 .block-2 .string-1 .gbp span, .sector-3 .block-2 .string-1 .gbp img {
  vertical-align: middle;
}

.sector-3 .block-2 .string-2 {
  padding-left: 100px;
}

.sector-3 .block-2 .string-2 .buy {
  font-size: 15px;
  padding-top: -2px;
  color: #7C7C7C;
}

.sector-3 .block-2 .string-2 span {
  display: block;
  padding-top: 29px;
  font-size: 20px;
}

.sector-3 .block-2 .string-2 .red-triangle::after {
  content: url("../Images/red.svg");
  padding-left: 10px;
}

.sector-3 .block-2 .string-3 {
  padding-left: 100px;
}

.sector-3 .block-2 .string-3 .sale {
  font-size: 15px;
  padding-top: -2px;
  color: #7C7C7C;
}

.sector-3 .block-2 .string-3 span {
  display: block;
  padding-top: 29px;
  font-size: 20px;
}

.sector-3 .block-2 .string-3 .green-triangle::after {
  content: url("../Images/Green.svg");
  padding-left: 10px;
}

.sector-4 {
  background-image: url("../Images/Background-3.png");
  background-size: cover;
  height: 538px;
  width: 1920px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-4 .area-1 {
  padding-top: 66px;
  margin-left: 300px;
}

.sector-4 .area-1 .plata {
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Rubik';
  font-weight: 600;
}

.sector-4 .area-1 .plata-2 {
  color: #A8A8A8;
  display: block;
  font-size: 25px;
  font-family: 'EB_Garamond' sans-serif;
  padding-bottom: 39px;
}

.sector-4 .area-1 .imag-sec-2, .sector-4 .area-1 .imag-sec-3, .sector-4 .area-1 .imag-sec-4 {
  padding-left: 70px;
}

.sector-4 .area-1 .imag-sec-1 {
  position: relative;
  display: inline;
  cursor: pointer;
}

.sector-4 .area-1 .imag-sec-1 .picture-1 {
  position: absolute;
  z-index: 1;
  margin-top: -80px;
  margin-left: 35px;
}

.sector-4 .area-1 .imag-sec-1:hover {
  -webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
  filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
}

.sector-4 .area-1 .imag-sec-2 {
  position: relative;
  display: inline;
  cursor: pointer;
}

.sector-4 .area-1 .imag-sec-2 .picture-2 {
  position: absolute;
  z-index: 1;
  margin-top: -80px;
  margin-left: 245px;
}

.sector-4 .area-1 .imag-sec-2:hover {
  -webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
  filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
}

.sector-4 .area-1 .imag-sec-3 {
  position: relative;
  display: inline;
  cursor: pointer;
}

.sector-4 .area-1 .imag-sec-3 .picture-3 {
  position: absolute;
  z-index: 1;
  margin-top: -85px;
  margin-left: 420px;
}

.sector-4 .area-1 .imag-sec-3:hover {
  -webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
  filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
}

.sector-4 .area-1 .imag-sec-4 {
  position: relative;
  display: inline;
  cursor: pointer;
}

.sector-4 .area-1 .imag-sec-4 .picture-4 {
  position: absolute;
  z-index: 1;
  margin-top: -80px;
  margin-left: 625px;
}

.sector-4 .area-1 .imag-sec-4:hover {
  -webkit-filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
  filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.18));
}

.sector-4 .area-1 .span-block {
  padding-top: 28px;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-4 .area-1 .span-block .sp-bl-1 .com2 {
  display: block;
  padding-left: 33px;
}

.sector-4 .area-1 .span-block .sp-bl-2 {
  padding-left: 71px;
}

.sector-4 .area-1 .span-block .sp-bl-3 {
  padding-left: 93px;
}

.sector-4 .area-1 .span-block .sp-bl-3 .com3 {
  display: block;
}

.sector-4 .area-1 .span-block .sp-bl-4 {
  padding-left: 112px;
}

.sector-4 .area-1 .sp-bl-1:hover, .sector-4 .area-1 .sp-bl-2:hover, .sector-4 .area-1 .sp-bl-3:hover, .sector-4 .area-1 .sp-bl-4:hover {
  color: darkblue;
}

.sector-4 .area-1 .platezhi {
  width: 265px;
  height: 56px;
  color: white;
  background-color: #FE5F55;
  border-radius: 5px;
  border: 1px solid #FE5F55;
  font-size: 18px;
  margin-top: 44px;
}

.sector-4 .area-2 {
  border: 1px solid white;
  width: 288px;
  height: 415px;
  background-color: white;
  margin-top: 72px;
  margin-left: 222px;
}

.sector-4 .area-2 img {
  padding-top: 40px;
  padding-left: 32px;
}

.sector-4 .area-2 .bold {
  font-weight: 700;
  padding-left: 32px;
  padding-top: 27px;
  font-size: 22px;
  font-family: "Rubik";
  line-height: 26.07px;
  margin-right: 33px;
}

.sector-4 .area-2 .normal {
  font-size: 16px;
  padding-left: 32px;
  padding-top: 27px;
  margin-right: 32px;
  color: #555;
}

.sector-5 {
  height: 538px;
  width: 1920px;
  position: relative;
}

.sector-5 .grey-box {
  margin-left: 300px;
  margin-top: 64px;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  background-color: #f7f7f7;
  height: 80px;
  width: 1227px;
  padding-top: 17px;
  position: relative;
}

.sector-5 .grey-box span {
  padding-left: 30px;
  color: #555;
}

.sector-5 .grey-box .gb2 {
  display: block;
}

.sector-5 .grey-box img {
  position: absolute;
  z-index: 1;
  padding-left: 1187px;
  margin-top: -50px;
}

.sector-5 footer {
  margin-left: 300px;
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-5 footer .persona {
  font-size: 18px;
  font-weight: 700;
}

.sector-5 footer a {
  display: block;
  padding-top: 17px;
  color: black;
}

.sector-5 footer .col-2 {
  padding-left: 90px;
}

.sector-5 footer .col-3 {
  padding-left: 90px;
}

.sector-5 footer .col-4 {
  padding-left: 90px;
}

.sector-5 footer .col-5 {
  padding-left: 90px;
}

.sector-5 footer .bank-2 {
  width: 144px;
  height: 44px;
  color: white;
  background-color: #FE5F55;
  border-radius: 5px;
  border: 1px solid #FE5F55;
  font-size: 18px;
  margin-left: 155px;
}

.sector-5 footer .some-span {
  margin-left: 140px;
  font-size: 14px;
  color: #999;
  display: block;
  padding-top: 20px;
}

.sector-5 footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 130px;
}

.sector-5 footer .social img {
  padding-left: 23px;
}

.sector-5 .last-sector {
  padding-top: 104px;
  margin-left: 300px;
  font-size: 14px;
  color: #a8a8a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-5 .last-sector .last-div::before {
  content: url("../Images/last.svg");
  padding-left: 28px;
}

.sector-5 .last-sector a {
  color: black;
  text-decoration: none;
  padding-left: 9px;
}

@media (max-width: 1024px) {
  .logo-sec {
    margin-left: 50px !important;
  }
  .menu-sec {
    margin-left: 20px !important;
  }
  .title-sec {
    margin-left: 50px !important;
  }
  .info-sec {
    margin-left: 50px !important;
  }
  .img-sec {
    margin-left: 50px !important;
  }
  .buttons-sec {
    margin-left: 40px !important;
  }
  .descript {
    margin-left: 50px !important;
  }
  .block-1 {
    margin-left: 50px !important;
  }
  .area-1 {
    margin-left: 50px !important;
  }
  .grey-box {
    margin-left: 50px !important;
  }
  footer {
    margin-left: 50px !important;
  }
  .last-sector {
    margin-left: 50px !important;
  }
}

@media (max-width: 376px) {
  .logo-sec {
    margin-left: 50px !important;
  }
  .menu-sec {
    margin-left: 20px !important;
  }
  .title-sec {
    margin-left: 50px !important;
  }
  .info-sec {
    margin-left: 50px !important;
  }
  .img-sec {
    margin-left: 50px !important;
  }
  .buttons-sec {
    margin-left: 40px !important;
  }
  .descript {
    margin-left: 50px !important;
  }
  .block-1 {
    margin-left: 50px !important;
  }
  .area-1 {
    margin-left: 50px !important;
  }
  .grey-box {
    margin-left: 50px !important;
  }
  footer {
    margin-left: 50px !important;
  }
  .last-sector {
    margin-left: 50px !important;
  }
  .languages {
    visibility: hidden;
  }
  .call-sec {
    visibility: hidden;
  }
  .phone-back {
    visibility: hidden;
  }
  .phone-back-2 {
    margin-left: -100px;
    background-image: url("../Images/phone.png");
    width: 959px;
    height: 719px;
    background-repeat: no-repeat;
  }
  .sector-2 {
    height: 1413px;
  }
}
/*# sourceMappingURL=app.css.map */