@font-face {
    font-family: 'Rubik';
    src: url('../Fonts/Rubik/static/Rubik-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'EB_Garamond';
    src: url('../Fonts/EB_Garamond/static/EBGaramond-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../Fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
html { overflow-x: hidden; }
body {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;
}
.landing-page {
    position: relative;
}
.sector-1 {
    background-image: url('../Images/Background.png');
    background-size: cover;
    height: 1015px;
    width: 1920px;

    .logo-sec {
        margin-left: 300px;
        padding-top: 50px;
        display: flex;

        .pers {
            color:white;
            text-decoration: none;
            padding-left: 80px;
            font-size: 22px;
            padding-top: 8px;
            &:link {
                color: #fff;
                text-decoration: underline;
            }
            &:active {
                color: #FE5F55;
                text-decoration: underline;
            }
            &:visited {
                color: #FE5F55;
                text-decoration: underline;
            }
        }
        .bus {
            color:white;
            text-decoration: none;
            padding-left: 40px;
            font-size: 22px;
            padding-top: 8px;
            &:link {
                color: #fff;
                text-decoration: none; 
            }
            &:active {
                color: #FE5F55;
                text-decoration: underline;
            }
        }
    }    
    .languages {
        text-align: right;
        margin-top: -10px;
        font-size: 18px;
        margin-left: auto;
        margin-right: 360px;

        .ru {
            padding-right: 10px;
            color:white;
            text-decoration: none;
            &:link {
                color: #fff;
                text-decoration: none;
            }
            &:active {
                color: #FE5F55;
                text-decoration: none;
            }
            &:visited {
                color: #FE5F55;
                text-decoration: none;
            }
        }
        .kz {
            padding-right: 10px;
            color:white;
            text-decoration: none;
            &:link {
                color: #fff;
                text-decoration: none;
            }
            &:active {
                color: #FE5F55;
                text-decoration: none;
            }
        }
        .en {
            padding-right: 10px;
            color:white;
            text-decoration: none;
            &:link {
                color: #fff;
                text-decoration: none;
            }
            &:active {
                color: #FE5F55;
                text-decoration: none;
            }
        }
    }
    .menu-sec {
        display: flex;
        margin-left: 268px;
        .menu-ul {
            list-style-type: none;
            flex-direction: row;
            display: flex;
            padding-right: 20px;
            padding-top: 40px;
            font-size: 20px;
            text-transform: uppercase;
            .hidden {
                visibility: hidden;
            }
            img {
                padding-left: 10px;
                padding-bottom: 5px;
            }
            .arrow-d:hover {
                .hidden {
                    visibility: visible;
                }
            }
            li {
                padding-right: 40px;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
        .call-sec {
            display: flex;
            margin-left: auto;
            margin-right: 360px;
            .tel {
                color: white;
                font-size: 40px;
                font-weight: 700;
                padding-right: 35px;
                text-align: right;
                &::after {
                    display: block;
                    margin-top: -12px;
                    content: "Бесплатно с мобильных";
                    font-size: 15px;
                    font-weight: 400;
                }
            }
            .bank {
                border: 1px solid #FE5F55;
                border-radius: 5px;
                background-color: #FE5F55;
                color: white;
                height: 50px;
                margin-top: 15px;
                width: 175px;
                font-size: 20px;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    .title-sec {
        margin-left: 300px;
        margin-top: 70px;
        .title-1 {
            font-size: 60px;
            font-family: 'Rubik';
            text-transform: uppercase;
            font-weight: 800;
            font-style: normal;
            background: linear-gradient(to right, #6C6D6E,#ffffff,#ffffff, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            .tit-2 {
                display: block;
            }
        }
        .title-2 {
            margin-top: 55px;
            font-size: 20px;
            font-family: 'Rubik';
            font-weight: 400;
            font-style: normal;
            background: linear-gradient(to right, #6C6D6E,#ffffff,#ffffff,#ffffff,#ffffff, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            .tit-4 {
                display: block;
            }
        }
        .more {
            padding-top: 35px;
            font-size: 18px;
            a {
                color: #A8A8A8;
            }
        } 
        .order {
            display: inline-block;
            .card {
                margin-top: 100px;
                width: 255px;
                height: 56px;
                border: 1px solid #FE5F55;
                border-radius: 5px;
                background-color: #FE5F55;
                font-size: 20px;
                a {
                    color: white;
                    text-decoration: none;
                }
            }  
            .card-order {
                display: inline-block;
                font-size: 18px;
                margin-left: 32px;
                background: linear-gradient(to right, #FE5F55, #FFB2AE);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                border-bottom: 1px solid #FE5F55;
            }
        } 
        .slider {
            margin-top: 84px;
            display: flex;
            .c1 {
                border: 1px solid #Fff;
                border-radius: 5000px;
                height: 10px;
                width: 10px;
                background-color: #Fff;
                margin-right: 16px;
                
                &:hover {
                    border: 1px solid #FE5F55;
                    border-radius: 5000px;
                    height: 20px;
                    width: 20px;
                    background-color: #FE5F55;
                    margin-top: -5px;
                    cursor: pointer;
                }    
            }
            .c2 {
                border: 1px solid #Fff;
                border-radius: 5000px;
                height: 10px;
                width: 10px;
                background-color: #Fff;
                margin-right: 16px;
                cursor: pointer;

                &:hover {
                    border: 1px solid #FE5F55;
                    border-radius: 5000px;
                    height: 20px;
                    width: 20px;
                    background-color: #FE5F55;
                    margin-top: -5px;
                }    
            }
            .c3 {
                border: 1px solid #Fff;
                border-radius: 5000px;
                height: 10px;
                width: 10px;
                background-color: #Fff;
                margin-right: 16px;

                &:hover {
                    border: 1px solid #FE5F55;
                    border-radius: 5000px;
                    height: 20px;
                    width: 20px;
                    background-color: #FE5F55;
                    margin-top: -5px;
                    cursor: pointer;
                }    
            }
            .c4 {
                border: 1px solid #Fff;
                border-radius: 5000px;
                height: 10px;
                width: 10px;
                background-color: #Fff;
                margin-right: 16px;
                
                &:hover {
                    border: 1px solid #FE5F55;
                    border-radius: 5000px;
                    height: 20px;
                    width: 20px;
                    background-color: #FE5F55;
                    margin-top: -5px;
                    cursor: pointer;
                }    
            }
            .c5 {
                border: 1px solid #Fff;
                border-radius: 5000px;
                height: 10px;
                width: 10px;
                background-color: #Fff;
                margin-right: 16px;

                &:hover {
                    border: 1px solid #FE5F55;
                    border-radius: 5000px;
                    height: 20px;
                    width: 20px;
                    background-color: #FE5F55;
                    margin-top: -5px;
                    cursor: pointer;
                }    
            }
        }   
    }
}  
.sector-2 {
    background-image: url('../Images/background-2.png');
    background-size: cover;
    height: 767px;
    width: 1920px;
    position: relative;

    .phone-back {
        background-image: url('../Images/phone.png');
        width: 959px;
        height: 719px;
        background-repeat: no-repeat;
        left: auto;
        right: 190px;
        top: 49px;
        position: absolute;
        z-index: 1;

    }
    .info-sec {
        margin-left: 300px;
        padding-top: 145px;

        .app {
            text-transform: uppercase;
            font-size: 44px;
            font-family: 'Rubik';
            font-weight: 600;
        }
        .dop-1 {
            font-family: 'Rubik';
            padding-top: 10px;
            display: block;
            font-size: 25px;
        }
        .dop-2 {
            font-family: 'Rubik';
            display: block;
            font-size: 25px;
        }
    }
    .img-sec {
        margin-left: 300px;
        padding-top: 63px;
        display: flex;
        .text-sec-1 {
            display: block;
            font-weight: 600;
            padding-top: 19px;
        }
        .text-sec-2 {
            display: block;
            font-weight: 600;
        }
        .img-sec-2 {
            padding-left: 62px;
            .text-sec-3 {
                display: block;
                font-weight: 600;
                padding-top: 19px;
            }
            .text-sec-4 {
                display: block;
                font-weight: 600;
            }
        }
        .img-sec-3 {
            padding-left: 62px;
            .text-sec-5 {
                display: block;
                font-weight: 600;
                padding-top: 19px;
            }
            .text-sec-6 {
                display: block;
                font-weight: 600;
            }
        }
    }
    .buttons-sec {
        margin-left: 290px;
        padding-top: 68px;
     }
     .descript {
         margin-left: 300px;
         margin-top: 37px;
         width: 288px;
         height: 56px;
         border: 1px solid #FE5F55;
         background-color: #FE5F55;
         color: white;
         font-size: 18px;
         font-weight: 500;
         border-radius: 5px;
     }
}
.sector-3 {
    height: 583px;
    width: 1920px;
    position: relative;
    display: flex;
    .block-1 {
        margin-left: 300px;
        padding-top: 73px;
        .transit {
            text-transform: uppercase;
            font-size: 32px;
            font-family: 'Rubik';
            font-weight: 600;
        }
        .transit-2 {
            color: #A8A8A8;
            display: block;
            font-size: 20px;
            font-family: 'EB_Garamond' sans-serif;
            padding-bottom: 49px;
        }
        .pic-sec-1 {
            position: relative;
            display: inline;
            cursor: pointer;
            .vec-1 {
                position: absolute;
                z-index: 1;
                margin-top: -80px;
                margin-left: 40px;
            }
            &:hover {
                -webkit-filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
                filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
            }
        }
        .pic-sec-2 {
            position: relative;
            display: inline;
            padding-left: 118px;
            cursor: pointer;
            .vec-2 {
                position: absolute;
                z-index: 1;
                margin-top: -80px;
                margin-left: 288px;
            }
            &:hover {
                -webkit-filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
                filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
            }
        }
        .pic-sec-3 {
            position: relative;
            display: inline;
            padding-left: 118px;
            cursor: pointer;
            .vec-3 {
                position: absolute;
                z-index: 1;
                margin-top: -80px;
                margin-left: 524px;
    
            }
            &:hover {
                -webkit-filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
                filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
            }
        }
        .t-sec {
            display: flex;
    
            .t1 {
                display: block;
                padding-top: 28px;
            }
            .t2, t3 {
                display: block;
            }
            .t-sec-2 {
                padding-top: 28px;
                padding-left: 35px;
                .t5, .t6, .t7 {
                    display: block;
                }
                .t6, .t7 {
                    color: #999;
                    font-size: 13px;
                }
            }
            .t-sec-3 {
                padding-top: 28px;
                padding-left: 75px;
                .t8, .t9 {
                    display: block;
                }   
            }
        }
        .perev {
            width: 265px;
            height: 56px;
            margin-top: 63px;
            border: 1px solid #FE5F55;
            border-radius: 5px;
            background-color: #FE5F55;
            font-size: 18px;
            color: white;
        }
    }
    .value {
        display: flex;
    }
    .block-2 {
        padding-top: 73px;
        margin-left: 165px;
        .course {
            text-transform: uppercase;
            font-size: 32px;
            font-family: 'Rubik';
            font-weight: 600;
        }
        .ex-date {
            color: #A8A8A8;
            display: block;
            font-size: 20px;
            font-family: 'EB_Garamond' sans-serif;
        }
        .string-1 {
            padding-top: 28px;
            .val {
                font-size: 15px;
                color: #7C7C7C;
            }
            .eur {
                padding-top: 27px;
                font-size: 20px;
                font-weight: 600;
                span {
                    padding-left: 17px;
                }
                span, img {
                    vertical-align: middle;
                }
            }
            .usd {
                padding-top: 27px;
                font-size: 20px;
                font-weight: 600;
                span {
                    padding-left: 17px;
                }
                span, img {
                    vertical-align: middle;
                }
            }
            .rub {
                padding-top: 27px;
                font-size: 20px;
                font-weight: 600;
                span {
                    padding-left: 17px;
                }
                span, img {
                    vertical-align: middle;
                }
            }
            .gbp {
                padding-top: 27px;
                font-size: 20px;
                font-weight: 600;
                span {
                    padding-left: 17px;
                }
                span, img {
                    vertical-align: middle;
                }
            }
        }
        .string-2 {
            padding-left: 100px;
            .buy {
                font-size: 15px;
                padding-top: -2px;
                color: #7C7C7C;
            }
            span {
                display: block;
                padding-top: 29px;
                font-size: 20px;
            }
            .red-triangle::after {
                content: url('../Images/red.svg');
                padding-left: 10px; 

            }
        }
        .string-3 {
            padding-left: 100px;
            .sale {
                font-size: 15px;
                padding-top: -2px;
                color: #7C7C7C;
            }
            span {
                display: block;
                padding-top: 29px;
                font-size: 20px;
            }
            .green-triangle::after {
                content: url('../Images/Green.svg');
                padding-left: 10px; 

            }
        }
    }
}
.sector-4 {
    background-image: url('../Images/Background-3.png');
    background-size: cover;
    height: 538px;
    width: 1920px;
    position: relative;
    display: flex;
    .area-1 {
        padding-top: 66px;
        margin-left: 300px;
        .plata {
            text-transform: uppercase;
            font-size: 32px;
            font-family: 'Rubik';
            font-weight: 600;
        }
        .plata-2 {
            color: #A8A8A8;
            display: block;
            font-size: 25px;
            font-family: 'EB_Garamond' sans-serif;
            padding-bottom: 39px;
        }
        .imag-sec-2, .imag-sec-3, .imag-sec-4 {
            padding-left: 70px;
        }
        .imag-sec-1 {
           position: relative;
           display: inline;
           cursor: pointer;
            .picture-1 {
               position: absolute;
               z-index: 1;
                margin-top: -80px;
                margin-left: 35px;
            }
            &:hover {
                -webkit-filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
                filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
            }
        }
        .imag-sec-2 {
            position: relative;
            display: inline;
            cursor: pointer;
             .picture-2 {
                position: absolute;
                z-index: 1;
                margin-top: -80px;
                margin-left: 245px;
             }
             &:hover {
                -webkit-filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
                filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
            }
         }
         .imag-sec-3 {
            position: relative;
            display: inline;
            cursor: pointer;
             .picture-3 {
                position: absolute;
                z-index: 1;
                margin-top: -85px;
                margin-left: 420px;
             }
             &:hover {
                -webkit-filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
                filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
            }
         }
         .imag-sec-4 {
            position: relative;
            display: inline;
            cursor: pointer;
             .picture-4 {
                position: absolute;
                z-index: 1;
                margin-top: -80px;
                margin-left: 625px;
             }
             &:hover {
                -webkit-filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
                filter: drop-shadow( 0px 8px 7px rgba(0, 0, 0, 0.18));
            }
        }
        .span-block {
            padding-top: 28px;
            color: #555;
            display: flex;
            .sp-bl-1 {
                .com2 {
                    display: block;
                    padding-left: 33px;
                }
            }
            .sp-bl-2 {
                padding-left: 71px;
            }
            .sp-bl-3 {
                padding-left: 93px;
                .com3 {
                    display: block;
                }
            }
            .sp-bl-4 {
                padding-left: 112px;
            }
        }
        .sp-bl-1:hover, .sp-bl-2:hover, .sp-bl-3:hover, .sp-bl-4:hover {
            color: darkblue;
        }
        .platezhi {
            width: 265px;
            height: 56px;
            color: white;
            background-color: #FE5F55;
            border-radius: 5px;
            border: 1px solid #FE5F55;
            font-size: 18px;
            margin-top: 44px;
        }
    }
    .area-2 {
        border: 1px solid white;
        width: 288px;
        height: 415px;
        background-color: white;
        margin-top: 72px;
        margin-left: 222px;
        img {
            padding-top: 40px;
            padding-left: 32px;
        }
        .bold {
            font-weight: 700;
            padding-left: 32px;
            padding-top: 27px;
            font-size: 22px;
            font-family: "Rubik";
            line-height: 26.07px;
            margin-right: 33px;
        }
        .normal {
            font-size: 16px;
            padding-left: 32px;
            padding-top: 27px;
            margin-right: 32px;
            color: #555;
        }
    }
}
.sector-5 {
    height: 538px;
    width: 1920px;
    position: relative;
    .grey-box {
        margin-left: 300px;
        margin-top: 64px;
        border: 1px solid #f7f7f7;
        border-radius: 5px;
        background-color: #f7f7f7;
        height: 80px;
        width: 1227px;
        padding-top: 17px;
        position: relative;
        span {
            padding-left: 30px;
            color: #555;
        }
        .gb2 {
            display: block;
        }
        img {
            position: absolute;
            z-index: 1;
            padding-left: 1187px;
            margin-top: -50px;
        }
    }
    footer {
        margin-left: 300px;
        margin-top: 42px;
        display: flex;
        .persona {
            font-size: 18px;
            font-weight: 700;
        }
        a {
            display: block;
            padding-top: 17px;
            color: black;
        }
        .col-2 {
            padding-left: 90px;
        }
        .col-3 {
            padding-left: 90px;
        }
        .col-4 {
            padding-left: 90px;
        }
        .col-5 {
            padding-left: 90px;
        }
        .bank-2 {
            width: 144px;
            height: 44px;
            color: white;
            background-color: #FE5F55;
            border-radius: 5px;
            border: 1px solid #FE5F55;
            font-size: 18px;
            margin-left: 155px;
        }
        .some-span {
            margin-left: 140px;
            font-size: 14px;
            color: #999;
            display: block;
            padding-top: 20px;
        }
        .social {
            display: flex;
            padding-left: 130px;
            img {
                padding-left: 23px;
            }
        }
    }
    .last-sector {
        padding-top: 104px;
        margin-left: 300px;
        font-size: 14px;
        color: #a8a8a8;
        display: flex;
        .last-div::before {
            content: url('../Images/last.svg');
            padding-left: 28px;
        }
        a {
            color: black;
            text-decoration: none;
            padding-left: 9px;
        }
    }
}
@media (max-width: 1024px) {
    .logo-sec {
        margin-left: 50px !important;
    }
    .menu-sec {
        margin-left: 20px !important;
    }
    .title-sec {
        margin-left: 50px !important;
    }
    .info-sec {
        margin-left: 50px !important;
    }
    .img-sec {
        margin-left: 50px !important;
    }
    .buttons-sec {
        margin-left: 40px !important;
    }
    .descript {
        margin-left: 50px !important;
    }
    .block-1 {
        margin-left: 50px !important;
    }
    .area-1 {
        margin-left: 50px !important;
    }
    .grey-box {
        margin-left: 50px !important;
    }
    footer {
        margin-left: 50px !important;
    }
    .last-sector {
        margin-left: 50px !important;
    }
}
@media (max-width: 376px) {
    .logo-sec {
        margin-left: 50px !important;
    }
    .menu-sec {
        margin-left: 20px !important;
    }
    .title-sec {
        margin-left: 50px !important;
    }
    .info-sec {
        margin-left: 50px !important;
    }
    .img-sec {
        margin-left: 50px !important;
    }
    .buttons-sec {
        margin-left: 40px !important;
    }
    .descript {
        margin-left: 50px !important;
    }
    .block-1 {
        margin-left: 50px !important;
    }
    .area-1 {
        margin-left: 50px !important;
    }
    .grey-box {
        margin-left: 50px !important;
    }
    footer {
        margin-left: 50px !important;
    }
    .last-sector {
        margin-left: 50px !important;
    }
    .languages {
        visibility: hidden;
    }
    .call-sec {
        visibility: hidden;
    }
    .phone-back {
        visibility: hidden;
    }
    .phone-back-2 {
        margin-left: -100px;
        background-image: url('../Images/phone.png');
        width: 959px;
        height: 719px;
        background-repeat: no-repeat;
    }
    .sector-2 {
        height: 1413px;
    }
}